.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
  
  
  
}
.row{
  display: flex;
  
}

.element {
  
  /*display:inline-block;*/
  text-align: center;
  font-size:1rem;
  
  font-weight: bold;
  color: grey;
  transition: all 0.3s linear;
  


    /* box-shadow: inset 0 0 0 3px #149df2; */
}

.north{
  border-top: 2px solid  black;
}
.east{
  border-right:2px solid  black;
}
.south{
  border-bottom:2px solid black;
}
.west{
  border-left: 2px solid black;
}
.pony{
  background: url('./pony.png')  no-repeat;
  background-size: cover;
  
}
.domokun{
  background: url('./domokun.png')  no-repeat;
  background-size: cover;

}
/* .exitPath{
  background-color : rgba(255, 204, 210, .7);
} */
.exit{
    background: url('./door.png')  no-repeat;
    background-size: contain;
}

key-img{
  justify-content: bottom;
  align-items: baseline;
 
}