.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}
.row{
  display: flex;
  
}

.element {
  text-align: center;
  font-size:1rem;
  font-weight: bold;
  color: grey;
  transition: all 0.3s ease-in-out;
}

.north{
  border-top: 2px solid  black;
}
.east{
  border-right:2px solid  black;
}
.south{
  border-bottom:2px solid black;
}
.west{
  border-left: 2px solid black;
}



key-img{
  justify-content: bottom;
  align-items: baseline;
 
}
.buttons{
  background-color: #670909
}
.images{

    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}