.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}
.row{
  display: flex;
  
}

.element {
  text-align: center;
  font-size:1rem;
  font-weight: bold;
  color: grey;
}

.north{
  border-top: 2px solid  black;
}
.east{
  border-right:2px solid  black;
}
.south{
  border-bottom:2px solid black;
}
.west{
  border-left: 2px solid black;
}
.pony{
  background: url('./media/pony.png')  no-repeat;
  background-size: cover;
}
.domokun{
  background: url('./media/domokun.png')  no-repeat;
  background-size: cover;

}

.exit{
    background: url('./media/door.png')  no-repeat;
    background-size: contain;
}

key-img{
  justify-content: bottom;
  align-items: baseline;
 
}
.buttons{
  background-color: #670909
}